<h1>Sign Up Below:</h1>

<!-- rendered by get '/registrations/signup' route -->
<!-- posts to the post '/registrations' route -->

<form action="/registrations" method="post">
  <input type="text" name="name" value="name">
  <input type="text" name="email" value="email">
  <input type="text" name="password" value="password">

  <input type="submit" value="submit">
</form>